<h2>Products</h2>

<%= link_to "New Product", new_product_path %>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td>
          <%= link_to "Edit", edit_product_path(product) %> |
          <% if product.deleted? %>
            Deleted <%= time_ago_in_words product.deleted_at %> ago
          <% else %>
            <%= link_to "Delete", product_path(product), method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
